/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.view_container {
	background-image: url(noirback1.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	background-size: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.nav {
	/*display: inline-block;*/
	width: 100px;
	height: 150px;
	position: absolute;
	top: 20%;
	left: 1%;
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255);
}

.menu-box {

	position: relative;
	left: 5%;
	padding: 10px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: text-decoration 1s;
}

.linkc {
	text-decoration: none;
	font-family: 'Special Elite', cursive;
	color: rgb(255, 255, 255);
	/*transform: .7s;*/
	transition: text-decoration 1s;

}

.linkc:hover {
	/*text-decoration: ital*/
	text-decoration: underline;
	text-transform:;
}



#content_container {
	position: absolute;
	left: 60%;
	top: 10%;
	background-color: rgba(245, 245, 245, .6);
	background-repeat: none;
	background-position: center;
	width: 500px;
	height: 350px;
	/*box-shadow: 7px 7px 3px #2F1F00;*/
	overflow: auto;
	/*transform: rotate(1deg);*/
}

.user_content {
	position: relative;
	padding: 20px;
	left: 10%;
	font-family: 'Special Elite', cursive;
	color: #000000;
	font-size: 30px;
	border-radius: 8px;

	
}

.avatar:hover {
	/*box-shadow: 3px 3px 1px #2F1F00;*/
	/*Maybe we can put this in later*/
}





.smuggler_name {
	font-size: 25px;
	font-family: 'Special Elite', cursive;
	text-decoration: none;
	color: #000000;
	transition: 1s;
}

.smuggler_name:hover {
	opacity: 1;
	text-decoration: underline;

}


