// Place all the styles related to the Missions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mission_index {
	text-decoration: none;
	color: black;
	transition: 1s;
}

.mission_index:hover {
	text-decoration: underline;
	color: #801515;
}

.mission_container {
	background-image: url(noirback6.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	background-size: 100%;
	position: absolute;
	top: 0px;
	left: 0px;

}

.classified {
	color: #801515;
}