// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	// background-image: url(noirback2.jpg);
	/*background-attachment: fixed;
	background-repeat: repeat;
	background-position: center;*/
	width: 100%;
	height:100%;
	background-size: 100%;
}